# Environments
.env
.env.*
!.env.example

# Databases
*.db
*.sqlite

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
.venv/

# Node
node_modules/
.next/
dist/
build/

# IDEs and OS
.vscode/
.idea/
.DS_Store
